.map-container-container {
    position: relative;
}


.map-container {
    position: relative;

    height: 600px;
    width: 96%;

    margin: 2em auto;
    border: none;
}


.search-bars-container {
    display: flex;
    justify-content: space-evenly;

    position: absolute;
    top: 20%;

    width: 100%;

    margin: 1em;
}