.search-bar-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    position: relative;
}


.search-bar {
    border: 1px solid #7c7c7c;
    border-radius: 20px;
    padding: 0.5em;

    background-color: #020202a9;

    font-size: 1.5em;
    color: #7c7c7c;
}


.search-bar:focus {
    outline: none;
}