.search-result-container {
    display: flex;
    align-items: center;
    gap: 0.5em;

    width: 300px;

    border-bottom: 1px solid #383838;
    padding: 0.25em;

    font-size: 1.2em;

    cursor: pointer;

    transition: 200ms ease-in-out;
}


.search-result-container:hover {
    background-color: #ededed10;
}


.search-result-container:last-child {
    border-bottom: none;
}


.search-result, .search-result-context {
    margin: 0;
}


.search-result-context {
    font-size: 0.8em;
}