.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: min-content;
    height: 100vh;

    box-sizing: border-box;
    border-right: 1px solid #3d3d3d;
    padding: 1em;

    background-color: #000000a9;
}


.search-button {
    width: 100%;

    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid #7c7c7c;
    border-radius: 5px;

    background: none;

    color: #7c7c7c;

    cursor: pointer;

    transition: 300ms ease-in-out;
}


.search-button:hover {
    background-color: #5f5f5f;

    border-color: #aeaeae;

    color: #aeaeae;
}


.search-button:focus {
    outline: none;
}


.sidebar {
    display: flex;
    flex-direction: column;
}


.search-bar-group-container {
    flex: 2 1 auto;
}


.search-bar-group-container:nth-child(1) {
    justify-self: flex-start;
}


.search-bar-group-container:nth-child(2) {
    justify-self: center;
}


.search-bar-title {
    color: #7c7c7c;
}